

.contenedor {
    background-color: #333; /* Color de fondo para el contenedor */
    color: white; /* Color del texto */
    padding: 20px; /* Espacio interno */
   
  }
  
  .centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  
  .texto-grande {
    font-size: 24px; /* Tamaño de fuente grande */
  }
  
  .texto-blanco {
    color: white; /* Color del texto blanco */
  }
  
  .boton-azul {
    background-color: #007BFF; /* Color de fondo azul */
    border-color: #007BFF; /* Color del borde azul */
    color: white; /* Color del texto blanco */
  }
  
  .boton-azul:hover {
    background-color: #0056b3; /* Cambiar el color de fondo en el hover */
    border-color: #0056b3; /* Cambiar el color del borde en el hover */
  }
  