.textoReserva {
    color:rgb(34, 31, 31);
    width: 800px;
    padding-left: 10%;
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 20px;
}

.datepicker-custom{
 text-align: center;

}

.calendly{
    padding-left: 25%;
}

.buttonR{
    background-color: #3498db;
}