.card-container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(249, 204, 204);
    width: 30;
}

.card-size {
    width: 300px;
  
}

.card-style{
    text-align:justify; 
    width: 200px;
 }
 .title-center {
     text-align: center;
 }


 